<%- include('../partials/adminPagePartials/header') %>

  <body>
    <%- include('../partials/adminPagePartials/navbar') %>
    <div class="container-max-500 center-auto">
      <form action="/admin/update?_method=PUT" method="post">
        <input type="text" name="id" id="blogid" value="<%=blog._id%>" hidden>
        <div>
          <label for="titleInput">Title</label>
          <br />
          <input type="text" name="title" value="<%=blog.title%>" id="titleInput" required />
        </div>
        <div>
          <label for="contentInput">Content</label>
          <br />
          <textarea
            name="content"
            id="contentInput"
            cols="50"
            rows="20"
            required
          ><%=blog.content%></textarea>
        </div>
        <div>
          <label for="authorInput">Author</label>
          <br />
          <input type="text" name="author" id="authorInput" value="<%=blog.author%>" required />
        </div>
        <div>
          <label for="categoryInput">Category</label>
          <br />
          <select name="category" id="categoryInput" required>
            <% for (category of categories) {  %>
            <option value="<%=category._id%>" <%= blog.category.categoryName === category.categoryName ? 'selected': '' %>><%=category.categoryName%></option>
            <%}%>
          </select>
        </div>
        <br />
        <div>
          <button class="btn btn-warning " type="submit" style="width: 215px;">Update Blog</button>
        </div>
      </form>
    </div>
    <%- include('../partials/adminPagePartials/footer') %>

  </body>
</html>
